# Requirements for testing.
# Used to generate specific pins in test_requirements.txt.

# Grab base requirements from setup.py.
# This is a hack, and generates a line in test_requirements.txt
# that needs to be deleted by `make upgrade`.
-e . 

coverage>=4.0.3,<5.0.0
django-nose>=1.4.3,<2.0.0
ddt>=1.0.1,<2.0.0
edx-lint==1.3.0
isort
factory_boy>=2.6.1,<3.0.0
futures<=3.1.1
httpretty>=0.8.14,<1.0.0
mock>=1.3.0,<2.0.0
pycodestyle
tox>=2.3.1,<3.0.0
pyjwkest==1.3.2
